<footer class="pgbottom">
        <ul class="foot-list">
            <li><a href="/">Home</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/events/addEvent">Add</a></li>
            <li><a href="facebook.com"><i class="fab fa-facebook"></i></a></li>
            <li><a href="twitter.com"><i class="fab fa-twitter"></i></a></li>
        </ul>
</footer>

</body>
</html>