<footer class="pgbottom">
        <ul class="foot-list">
            <li><a href="./home">Home</a></li>
            <li><a href="./events">Events</a></li>
            <li><a href="./addEvent">Add Event</a></li>
            <li><a href="facebook.com">facebook icon</a></li>
            <li><a href="twitter.com">twitter icon</a></li>
        </ul>
</footer>
        <!-- <a href="javascript:void(0);" class="menu">
            <i class="fa fa-bars"></i></a>-->

</body>
</html>