<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/css/events.css">
    <link rel="stylesheet" type="text/css" href="/public/css/index.css">
    <link rel="stylesheet" type="text/css" href="/public/css/login.css">
    <link rel="stylesheet" type="text/css" href="/public/css/nav-foot-np.css">
    <link rel="stylesheet" type="text/css" href="/public/css/reg-np.css">
    <title>Non-Profit Events</title>
    <script src="https://kit.fontawesome.com/634223e098.js" crossorigin="anonymous"></script>
</head>