<header>
    <nav class="navbar">
        <ul class="nav-list">
            <li><a href="/">Home</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/addEvents">Add</a></li>
        </ul>
    </nav>
        <a href="javascript:void(0);" class="menu">
            <i class="fa fa-bars"></i></a>
</header>