:root {
    --ruby: #982649;
    --lsbl: #BCD2EE;
    --dcbl: #26408B;
    --spbl: #171738;
    --black: #000000;
    --white: #eeeeee; 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* this is where you'll probs define your font-family: blah blah */
}

.npeLogo {
    height: 25rem;
    width: auto;
    background-color: var(--dcbl);
    flex: 1;
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--dcbl);  
    width: 100%     
}

a.menu {
    display: block;
    text-decoration: none;
    color: white;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    font-size: 30px;
}

nav.navbar {
    display: none;
}

nav.navbar.open {
    display: block;
}

ul.nav-list li {
    list-style: none;
}

.nav-list {
    margin-top: 18rem;
    display: flex;
    justify-content: flex-end;
}

ul.nav-list {
    word-spacing: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

ul.nav.nav-list li {
    list-style-type: none;
    list-style: none;
    display: flex;
}

nav.nav-list {
    flex: 2;
}

ul.nav-list li a {
    text-decoration: none;
    font-size: 5rem;
    color: white;
    padding: 0.8rem 1rem;
    display: flex;
}

body {
    display: flex;
    flex-direction: column;
}

footer {
    background-color: var(--dcbl);
    width: 100%
}

.pgbottom {
    background-color: var(--dcbl);
    margin: 0 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    position: absolute;
    bottom: 0;
    height: 40rem;
} 

.foot-list {
    width: 100%;
    height: 30rem;
    display: flex;
    flex-direction: column;
}

ul.foot-list li {
    list-style-type: none;
    list-style: none;
    font-size: 5rem;
}

ul.foot-list li a {
    text-decoration: none;
    color: var(--white)
}

@media screen and (min-width: 320px) {
    .npeLogo {
        height: 25rem;
        width: auto;
        background-color: var(--dcbl);
        flex: 1;
        margin: 0;
        padding: 0;
    }
    
    header {
        background-color: var(--dcbl);  
        width: 100%     
    }
    
    a.menu {
        display: block;
        text-decoration: none;
        color: white;
        position: absolute;
        right: 0;
        top: 0;
        padding: 0.5rem 1rem;
        margin-top: 1rem;
        font-size: 30px;
    }
    
    nav.navbar {
        display: none;
    }
    
    nav.navbar.open {
        display: block;
    }

    ul.nav-list li {
        list-style: none;
    }
    
    .nav-list {
        margin-top: 18rem;
        display: flex;
        justify-content: flex-end;
    }
    
    ul.nav-list {
        word-spacing: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
    }

    ul.nav.nav-list li {
        list-style-type: none;
        list-style: none;
        display: flex;
    }
    
    /* .emblem? flex: 1  - basically gonna do 1 to 1 to 1?*/
    nav.nav-list {
        flex: 2;
    }

    ul.nav-list li a {
        text-decoration: none;
        font-size: 5rem;
        color: white;
        padding: 0.8rem 1rem;
        display: flex;
    }

    body {
        display: flex;
        flex-direction: column;
    }

    footer {
        background-color: var(--dcbl);
        width: 100%
    }
    
    .pgbottom {
        background-color: var(--dcbl);
        margin: 0 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
        position: absolute;
        bottom: 0;
        height: 40rem;
    } 

    .foot-list {
        width: 100%;
        height: 30rem;
        display: flex;
        flex-direction: column;
    }

    ul.foot-list li {
        list-style-type: none;
        list-style: none;
        font-size: 5rem;
    }

    ul.foot-list li a {
        text-decoration: none;
        color: var(--white)
    }

}

@media screen and (min-width: 768px) {
    header {
        display: flex;        
    }


    a.menu {
        display: none;
    }

    .npeLogo {
        height: 25rem;
        width: auto;
        background-color: var(--dcbl);
        flex: 1;
        margin: 0;
        padding: 0;
    }

    nav.navbar {
        width: 100%;
        height: 25rem;
        display: flex;
        background-color: var(--dcbl);
    }

    .nav-list {
        display: none;
    }

    ul.nav-list li {
        list-style: none;
    }

    ul.nav-list {
        word-spacing: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: absolute;
        right: 0;
        top: 0;
        margin-right: 5px;
    }

    ul.nav.nav-list li {
        list-style-type: none;
        list-style: none;
        display: flex;
    }
 
    nav.nav-list {
        flex: 2;
    }

    ul.nav-list li a {
        text-decoration: none;
        font-size: 5rem;
        color: white;
        padding: 0.8rem 1rem;
        display: flex;
    }

    body {
        display: flex;
        flex-direction: column;
    }

    footer {
        background-color: var(--dcbl);
        width: 100%
    }
    
    .pgbottom {
        background-color: var(--dcbl);
        margin: 0 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
        position: absolute;
        bottom: 0;
        height: 40rem;
    } 

    .foot-list {
        width: 100%;
        height: 30rem;
        display: flex;
        flex-direction: column;
    }

    ul.foot-list li {
        list-style-type: none;
        list-style: none;
        font-size: 5rem;
    }

    ul.foot-list li a {
        text-decoration: none;
        color: var(--white)
    }

} 

@media screen and (min-width: 1024px) { 
    
    header {
        display: flex;        
    }

    a.menu {
        display: none;
    }

    .npeLogo {
        height: 25rem;
        width: auto;
        background-color: var(--dcbl);
        flex: 1;
        margin: 0;
        padding: 0;
    }

    nav.navbar {
        width: 100%;
        height: 25rem;
        display: flex;
        background-color: var(--dcbl);
        flex: 2;
    }

    .nav-list {
        margin-top: 18rem;
        display: flex;
        justify-content: flex-end;
    }

    ul.nav-list {
        word-spacing: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: absolute;
        right: 0;
        top: 0;
        margin-right: 5px;
    }

    ul.nav.nav-list li {
        list-style-type: none;
        list-style: none;
        display: flex;
    }

    ul.nav-list li {
        list-style: none;
    }
 
    nav.nav-list {
        flex: 2;
    }

    ul.nav-list li a {
        text-decoration: none;
        font-size: 5rem;
        color: white;
        padding: 0.8rem 1rem;
        display: flex;
    }

    body {
        display: flex;
        flex-direction: column;
    }


    footer {
        background-color: var(--dcbl);
        width: 100%
    }
    
    .pgbottom {
        background-color: var(--dcbl);
        margin: 0 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
        position: absolute;
        bottom: 0;
        height: 40rem;
    } 

    .foot-list {
        width: 100%;
        height: 30rem;
        display: flex;
        flex-direction: column;
    }

    ul.foot-list li {
        list-style-type: none;
        list-style: none;
        font-size: 5rem;
    }

    ul.foot-list li a {
        text-decoration: none;
        color: var(--white)
    }

} 