<%- include('../partials/header') -%> 
    
<%- include('../partials/navbar') -%> 

<body>
    <h1>     </h1>
    <div class="container">
        <form action="/events/addEvent" method="POST">
            <h2>Add Your Event Here</h2>
            <p></p>
            <div class="form-group">
                <label for="busName">Business Name:<span class="form-group-required">*</span></label>
                <input type="text" name="busName" id="busName" required>
                
                <label for="eventName">Event Name:<span class="form-group-required">*</span></label>
                <input type="text" name="eventName" id="eventName" required>

                <label for="eventDate">Date of Event:<span class="form-group-required">*</span></label>
                <input type="date" name="eventDate" id="eventDate" required>

                <label for="eventTime">Time of Event:<span class="form-group-required">*</span></label>
                <input type="time" name="eventTime" id="eventTime" required>

                <label for="eventType">What type of event is this:<span class="form-group-required">*</span></label> (Fundraiser, Awareness, etc.)
                <input type="text" name="eventType" id="eventType" required>

                <label for="aboutEvent">About:</label>
                <input type="text" name="aboutEvent" id="aboutEvent" placeholder="Tell us a little about your Event." required>
            </div>
            <p></p>
            <button class="button" type="submit">Submit</button>
        </form>
        <div class="rec-reg">
            <!-- <a href>Forgot Password</a>
            <a href>Register Here</a> -->
        </div>
    </div>
</body>
</html>

<%- include('../partials/footer') -%> 