<%- include('../partials/header') -%> 
    
<%- include('../partials/navbar') -%> 

<div class="cal-container">
    <div class="calendar">
        <div class="month">
            <i class="fa fa-arrow-left"></i>
            <div class="date">
            <h1>June</h1>
            <p>Tuesday June 7, 2022</p>
            </div>
            <i class="fa fa-arrow-right"></i>
        </div>
            <div class="weekdays">
                <div>Sun</div>
                <div>Mon</div>
                <div>Tue</div>
                <div>Wed</div>
                <div>Thu</div>
                <div>Fri</div>
                <div>Sat</div>
            </div>
            <div class="days">
                <div class="prev-date">29</div>
                <div class="prev-date">30</div>
                <div class="prev-date">31</div>
                
                <div class="today">1
                    <br><br>
                    0 Event(s)
                    <br>
                </div>
                <div class="today">2
                    <br><br>
                    0 Event(s)
                    <br>
                </div>
                <div class="today">3
                    <br><br>
                    0 Event(s)
                    <br>
                </div>
                <div class="today">4
                    <br><br>
                    0 Event(s)
                    <br>
                </div>
                <div class="today">5
                    <br><br>
                    0 Event(s)
                    <br>
                </div>
                <div class="today">6
                    <br><br>
                    0 Event(s)
                    <br>
                </div>
                <div class="today">7
                    <br><br>
                    0 Event(s)
                    <br>
                </div>
                <div class="today">8
                    <br><br>
                    0 Event(s)
                    <br>
                </div>
                <div class="today">9
                    <br><br>
                    0 Event(s)
                    <br>
                </div>
                <div class="today">10
                    <br><br>
                    0 Event(s)
                    <br>
                </div>
                <div class="today">11
                    <br><br>
                    0 Event(s)
                    <br>
                </div>
                <div class="today">12
                    <br><br>
                    0 Event(s)
                    <br>
                </div>
                <div class="today">13
                    <br><br>
                    0 Event(s)
                    <br>
                </div>
                <div class="today">14
                    <br><br>
                    0 Event(s)
                    <br>
                </div>
                <div class="today">15
                    <br><br>
                    0 Event(s)
                    <br>
                </div>
                <div class="today">16
                    <br><br>
                    0 Event(s)
                    <br>
                </div>
                <div class="today">17
                    <br><br>
                    0 Event(s)
                    <br>
                </div>
                <div class="today">18
                    <br><br>
                    0 Event(s)
                    <br>
                </div>
                <div class="today">19
                    <br><br>
                    <% let x = 0
                    for (oneEvent of everyEvent) {
                        if (oneEvent.eventDate === '2022-06-19T00:00:00.000+00:00') {
                        x += 2
                        }
                    }%>
                    <!-- <%=x%> -->
                    1 Event(s)
                    <br>
                </div>
                <div class="today">20
                    <br><br>
                    0 Event(s)
                    <br>
                </div>
                <div class="today">21
                    <br><br>
                    0 Event(s)
                    <br>
                </div>
                <div class="today">22
                    <br><br>
                    0 Event(s)
                    <br>
                </div>
                <div class="today">23
                    <br><br>
                    0 Event(s)
                    <br>
                </div>
                <div class="today">24
                    <br><br>
                    0 Event(s)
                    <br>
                </div>
                <div class="today">25
                    <br><br>
                    0 Event(s)
                    <br>
                </div>
                <div class="today">26
                    <br><br>
                    0 Event(s)
                    <br>
                </div>
                <div class="today">27
                    <br><br>
                    0 Event(s)
                    <br>
                </div>
                <div class="today">28
                    <br><br>
                    0 Event(s)
                    <br>
                </div>
                <div class="today">29
                    <br><br>
                    0 Event(s)
                    <br>
                </div>
                <div class="today">30
                    <br><br>
                    0 Event(s)
                    <br>
                </div>
                <div class="next-date">
                    1
                </div>
                <div class="next-date">
                    2
                </div>
            </div>
        <div class="cal-links"></div>
    </div>
</div>


<%- include('../partials/footer') -%> 