<%- include('../partials/header') -%> 
    
<%- include('../partials/navbar') -%> 

<body>
    <div class="cal-container">
        <div class="calendar">
            <div class="month">
                <i class="fa-solid fa-arrow-right prev"></i>
                <div class="date">
                <h1>April</h1>
                <p>Friday April 1, 2022</p>
                </div>
                <i class="fa-solid fa-arrow-right prev"></i>
            </div>
                <div class="weekdays">
                    <div>Sun</div>
                    <div>Mon</div>
                    <div>Tue</div>
                    <div>Wed</div>
                    <div>Thu</div>
                    <div>Fri</div>
                    <div>Sat</div>
                </div>
                <div class="days">
                    <div class="prev-date">27</div>
                    <div class="prev-date">28</div>
                    <div class="prev-date">29</div>
                    <div class="prev-date">30</div>
                    <div class="prev-date">31</div>
                    
                    <div class="today">1
                        <br><br>
                        X Event(s) Today
                        <br>
                    </div>
                    <div class="today">2
                        <br><br>
                        X Event(s) Today
                        <br>
                    </div>
                    <div class="today">3
                        <br><br>
                        X Event(s) Today
                        <br>
                    </div>
                    <div class="today">4
                        <br><br>
                        X Event(s) Today
                        <br>
                    </div>
                    <div class="today">5
                        <br><br>
                        X Event(s) Today
                        <br>
                    </div>
                    <div class="today">6
                        <br><br>
                        X Event(s) Today
                        <br>
                    </div>
                    <div class="today">7
                        <br><br>
                        X Event(s) Today
                        <br>
                    </div>
                    <div class="today">8
                        <br><br>
                        X Event(s) Today
                        <br>
                    </div>
                    <div class="today">9
                        <br><br>
                        X Event(s) Today
                        <br>
                    </div>
                    <div class="today">10
                        <br><br>
                        X Event(s) Today
                        <br>
                    </div>
                    <div class="today">11
                        <br><br>
                        X Event(s) Today
                        <br>
                    </div>
                    <div class="today">12
                        <br><br>
                        X Event(s) Today
                        <br>
                    </div>
                    <div class="today">13
                        <br><br>
                        X Event(s) Today
                        <br>
                    </div>
                    <div class="today">14
                        <br><br>
                        X Event(s) Today
                        <br>
                    </div>
                    <div class="today">15
                        <br><br>
                        X Event(s) Today
                        <br>
                    </div>
                    <div class="today">16
                        <br><br>
                        X Event(s) Today
                        <br>
                    </div>
                    <div class="today">17
                        <br><br>
                        X Event(s) Today
                        <br>
                    </div>
                    <div class="today">18
                        <br><br>
                        X Event(s) Today
                        <br>
                    </div>
                    <div class="today">19
                        <br><br>
                        X Event(s) Today
                        <br>
                    </div>
                    <div class="today">20
                        <br><br>
                        X Event(s) Today
                        <br>
                    </div>
                    <div class="today">21
                        <br><br>
                        X Event(s) Today
                        <br>
                    </div>
                    <div class="today">22
                        <br><br>
                        X Event(s) Today
                        <br>
                    </div>
                    <div class="today">23
                        <br><br>
                        X Event(s) Today
                        <br>
                    </div>
                    <div class="today">24
                        <br><br>
                        X Event(s) Today
                        <br>
                    </div>
                    <div class="today">25
                        <br><br>
                        X Event(s) Today
                        <br>
                    </div>
                    <div class="today">26
                        <br><br>
                        X Event(s) Today
                        <br>
                    </div>
                    <div class="today">27
                        <br><br>
                        X Event(s) Today
                        <br>
                    </div>
                    <div class="today">28
                        <br><br>
                        X Event(s) Today
                        <br>
                    </div>
                    <div class="today">29
                        <br><br>
                        X Event(s) Today
                        <br>
                    </div>
                    <div class="today">30
                        <br><br>
                        X Event(s) Today
                        <br>
                    </div>
                    <div class="today">31
                        <br><br>
                        X Event(s) Today
                        <br>
                    </div>
                    <div class="next-date">1</div>
                    <div class="next-date">2</div>
                    <div class="next-date">3</div>
                    <div class="next-date">4</div>
                    <div class="next-date">5</div>
                    <div class="next-date">6</div>
                </div>
            <div class="cal-links"></div>
        </div>
    </div>
</body>
</html>

<%- include('../partials/footer') -%> 