<!-- Overview of events, upcoming and past. Also, links to Add-Event page. -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./styles/home-np.css">
    <link rel="stylesheet" type="text/css" href="./styles/nav-foot-np.css">
    <title>My Events</title>
    <script src="https://kit.fontawesome.com/634223e098.js" crossorigin="anonymous"></script>
</head>
<header>
    <nav class="navbar">
        <ul class="nav-list">
            <li><a href="./homepg-np.html">Home</a></li>
            <li><a href="./My-Events.html">My Events</a></li>
            <li><a href="./Add-Event.html">Add Event</a></li>
        </ul>
    </nav>
        <!-- <a href="javascript:void(0);" class="menu">
            <i class="fa fa-bars"></i></a>-->
</header>
<!-- Pull data here to show  -->
<body>
    <div>
        One column, all Events listed in date order, with past events greyed out. Would be good to be able to have an add info button at the bottom so folks can add how many attendees they had, or any other info they may have like notes on if this will be annual. This will allow for clients of the website to be able to take stock of what they've done and then adjust if necessary for the next event(s).
    </div>
</body>
</html>